<%= content_for :login_panel_title do %>
  <%= I18n.t('devise.sign_up') %>
<% end %>
<%= content_for :login_panel_content do %>
  <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>

    <div class="field">
      <%= f.input :email, placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.input :city, collection: CityFinder.cities, placeholder: 'City' %>
    </div>

    <div class="field">
      <%= f.input :name, placeholder: 'Name' %>
    </div>

    <div class="field">
      <%= f.input :surname, placeholder: 'Surname' %>
    </div>

    <div class="field">
      <%= f.input :password,  autocomplete: "off" , placeholder: 'Password' %>
    </div>

    <div class="field">
      <%= f.input :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="controls">
      <%= f.button :submit, I18n.t('devise.sign_up'),class: "btn btn-block btn-lg btn-primary btn-loading" %>
    </div>
  <% end %>
<% end %>
