<%= content_for :login_panel_title do %>
  <%= I18n.t('devise.forgot_password') %>
<% end %>
<%= content_for :login_panel_content do %>
  <%= simple_form_for(resource, as: resource_name, url: user_password_path) do |f| %>

    <div class="field">
      <%= f.input :email, placeholder: 'Email' %>
    </div>

    <div class="controls">
      <%= f.button :submit, I18n.t('devise.instructions'),class: "btn btn-block btn-lg btn-primary btn-loading" %>
    </div>
  <% end %>
<% end %>
