- model_class = Book
=content_for :panel_content do
  .panel.panel-success
    .panel-heading
      %h1
        =book.title
    .panel-body
      %p
        %strong= model_class.human_attribute_name(:postcode) + ':'
        %br
        = book.account_postcode
      %p
        %strong= model_class.human_attribute_name(:state) + ':'
        %br
        = book.status
      %p
        %strong= model_class.human_attribute_name(:category_id) + ':'
        %br
        = book.category_name
      %p
        %strong= model_class.human_attribute_name(:author_id) + ':'
        %br
        = book.author_name
      %p
        %strong= model_class.human_attribute_name(:holder) + ':'
        %br
        = book.account.try(:name)
      = link_to t('.back', :default => t("helpers.links.back")), back_path, :class => 'btn btn-sm btn-default'
      = get_status_button(book)
