= simple_form_for @book, :url => account_book_path, :method => :put, :html => { :class => 'form-vertical' } do |f|
  = f.input :title
  = error_span(@book[:title])
  = f.input :author_name, label_method: :name, value_method: :name, label: I18n.t('book.author'), collection: @authors
  = f.input :category_name, label_method: :name, value_method: :name,  label: I18n.t('book.category'), collection: @categories
  = f.input :state, :collection => [[0, I18n.t('book.shared')],[1, I18n.t('book.unshared')]],label_method: :last, value_method: :first, :as => :radio_buttons
  = f.input :account_id, :as => :hidden, :input_html => { :value => current_user.account.id }
  = f.button :submit, :class => 'btn-success'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), account_books_path(@account), :class => 'btn btn-default'
  = link_to t('.delete', :default => t("helpers.links.delete")), account_book_path(@account,@book), :class => 'btn btn-danger', :method => :delete
