= simple_form_for @book, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = error_span(@book[:title])
  = f.input :postcode
  = error_span(@book[:postcode])
  = f.input :share
  = error_span(@book[:share])
  = f.input :swap
  = error_span(@book[:swap])
  = f.input :category_id
  = error_span(@book[:category_id])
  = f.input :author_id
  = error_span(@book[:author_id])
  = f.input :account_id
  = error_span(@book[:account_id])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), books_path, :class => 'btn btn-default'
