- model_class = Book
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= link_to I18n.t('books.add_new_book_btn'),new_account_book_path(current_user),
  {class: "btn-sm btn-success",role: "button"}
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:postcode)
      %th= model_class.human_attribute_name(:status)
      %th= model_class.human_attribute_name(:category)
      %th= model_class.human_attribute_name(:author)
      %th= model_class.human_attribute_name(:request)
  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.postcode
        %td
          =get_boolean_icon(book.shared?)
        %td= book.category.try(:name)
        %td= book.author.try(:name)
        %td
          -if user_signed_in?
            = get_request_label(book)
          -else
            =I18n.t('login_please')

