- model_class = Book
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:postcode)
      %th= model_class.human_attribute_name(:share)
      %th= model_class.human_attribute_name(:swap)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @books.each do |book|
      %tr
        %td= link_to(book.title, book_path(book))
        %td= book.postcode
        %td= book.share
        %td= book.swap
        %td=l book.created_at

