- model_class = BookRequest
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:author)
      %th= model_class.human_attribute_name(:postcode)
      %th= model_class.human_attribute_name(:category)
      %th= model_class.human_attribute_name(:status)
      %th= model_class.human_attribute_name(:holder)
  %tbody
    - @reader_requests.each do |book|
      %tr
        %td= link_to(book.title, book_path(book))
        %td= book.postcode
        %td
          =get_boolean_icon(book.share)
        %td
          =get_boolean_icon(book.swap)
        %td= book.category.try(:name)
        %td= book.author.try(:name)
        %td
          -if user_signed_in?
            = mail_to book.account.try(:user).try(:email),book.account.try(:name)
          -else
            =I18n.t('login_please')

