-model_class = Account
=content_for :panel_content do
  .panel.panel-default
    .panel-heading
      %h4
        =@account.user_email
    .panel-body
      %p
        %strong= model_class.human_attribute_name(:city) + ':'
        %br
        = @account.city
      %p
        %strong= model_class.human_attribute_name(:name) + ':'
        %br
        = @account.name
      %p
        %strong= model_class.human_attribute_name(:surname) + ':'
        %br
        = @account.surname
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_account_path(@account, anchor: "/form_account"), :class => 'btn btn-sm btn-primary'
