-model_class = Account
=content_for :panel_content do
  .panel.panel-success
    .panel-heading
      %h4
        =@account.user_email
    .panel-body
      %p
        %strong= model_class.human_attribute_name(:postcode) + ':'
        %br
        = @account.postcode
      %p
        %strong= model_class.human_attribute_name(:name) + ':'
        %br
        = @account.name
      %p
        %strong= model_class.human_attribute_name(:surname) + ':'
        %br
        = @account.surname
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_account_path(@account), :class => 'btn btn-sm btn-info'
